<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/style.css">
<body>
    

    <p><a href="index">Volver al inicio de sesión</a></p>
    <div v-if="formType === 'cambiar'">
        <h2>Cambiar Contraseña</h2>
        <form @submit.prevent="cambiarContraseña">
          <label>Nueva Contraseña:</label>
          <input v-model="nuevaContraseña" type="password" required>
        <button type="submit" :disabled="loading">Actualizar</button>
      </form>
      </div>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>